.buscar--form input {
    margin-right: 10px;
}
.buscar--form select {
    margin-right: 10px;
}
.buscar--form {
    margin-bottom: 10px;
}
.alta--button {
    margin-bottom: 10px;
}
.check--buscar-form {
    margin-left: 10px;
}
.modulo--button {
    margin: 10px;
}